<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
   <title>Document</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <!-- <script type ="text/javascript" src="/socket.io/socket.io.js"></script> -->
   <script type ="text/javascript">
       $(document).ready(function (){


        });
   </script>
</head>
<body>
    <h2>Welcome <%= user.first_name %></h2>
    <form action="/sessions/clear" method="POST">
        <button>Logout</button><br><br>
    </form>
        <form id="form2" action="/users/<%= user._id %>/secret" method="POST">
            <label for="content">Secret:</label><br>
            <textarea name="content" id="" cols="50" rows="3"></textarea><br>
            <input  type="submit" value="Share">
        </form>
    
    <% for (var user1 of users) {%>
        <% for(var comment of user1.comments) {%>
        <h4><a href="/user/<%= user1.id %>/comment/<%= comment.id%>"><%= comment.content %></a></h4>
        <% if(user1.id === user.id){ %>
            <a href="/users/<%= user.id %>/secret/<%= comment.id%>">Delete</a>
        <% } %>
    <% } %>
    <% } %>
    
</body>
</html>